<!-- FOOTER -->
<footer id="footer">
  <!-- top footer -->
  <div class="container">
    <!-- row -->
    <div class="row">
      <div class="col-md-4 col-xs-6">
        <div class="footer">
          <h3 class="footer-title">Về chúng tôi</h3>
          <p>
            Thư viện Online Electro. là một trong những thư viện đầu tiên tại Hà Nội
            cho phép các độc giả có thể mượn được sách ngay trên trang web, tránh tình trạng đến trực tiếp mà không có
            sách mang về,
            dễ dàng theo dõi các hoạt động cùng như những thay đổi mới nhất về các đầu sách mà bạn theo dõi tại thư
            viện.
          </p>
        </div>
      </div>
      <div class="col-md-4 col-xs-6">
        <div class="footer">
          <h3 class="footer-title">Sứ mệnh</h3>
          <p>Cung cấp nguồn kiến thức và thông tin cho cộng đồng.
            Tạo điều kiện thuận lợi để mọi người tiếp cận sách, tài liệu và tài nguyên học tập.
            Thúc đẩy việc khuyến khích đọc sách, nghiên cứu và học tập.
            Tạo cơ hội cho việc khám phá và sáng tạo thông qua các hoạt động văn hóa và giáo dục.
          </p>
        </div>
      </div>
      <div class="col-md-4 col-xs-6">
        <div class="footer">
          <h3 class="footer-title">Liên hệ hợp tác</h3>
          <div class="contact">
            <div class="d-flex">
              <a type="button">
                <img src="https://cdn-icons-png.flaticon.com/128/9385/9385258.png" alt="" class="img-contact">
              </a>
              <p style="margin: 0px;"> TT3A/số 12 P.Phùng Khoang, Khu Đô Thị Mới, Nam Từ Liêm, Hà Nội</p>
            </div>
            <div class="d-flex" style="margin-top: 10px;">
              <a type="button">
                <img src="https://cdn-icons-png.flaticon.com/128/3687/3687004.png" alt="" class="img-contact">
              </a>
              <p style="margin: 0px;padding-top: 10px;">0853868266</p>
            </div>
            <div class="d-flex" style="margin-top: 10px;">
              <a type="button">
                <img src="https://cdn-icons-png.flaticon.com/128/9385/9385280.png" alt="" class="img-contact">
              </a>
              <p style="margin: 0px;padding-top: 10px;">internAtowm@gmail.com</p>

            </div>
          </div>
        </div>
      </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </div>
  <!-- /top footer -->

  <!-- bottom footer -->
  <div class="col-md-12 text-center" style="height: 60px;">
    <span class="copyright" style="margin-top: 0px;padding-top: 10px;">
      Copyright &copy;
      <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with
      <i class=" fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Tiến
        Đạt</a>
    </span>
    <!-- /container -->
  </div>
  <!-- /bottom footer -->
</footer>
<!-- /FOOTER -->