.content {
    margin-top: 30px;
    padding: 30px;
}

.img-book {
    width: 100%;
    height: 440px;
    // justify-content: center;
}

.product-name {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.product-details {
    width: 600px;
    height: 440px;
}

.product-price {
    font-weight: 600;
    margin-top: 0px;
    font-size: 23px;
    font-style: italic;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.img-action {
    width: 40px;
    height: 40px;
}

.product-info {
    margin-bottom: 10px;
}

.row_detail {
    justify-content: space-around;
}

.product-details .product-links {
    margin-top: 5px;
}

.add-to-cart {
    justify-content: left;
    margin-top: 30px;
    // margin-right: 30px;
    // justify-content: center;
}

.action-book {
    margin-right: 0px;
    width: 120px;
    height: 40px;
    // background-color: #ffefef;
    // border-radius: 100px;
}


.category-book {
    padding: 0px;
}

.des-book {
    margin-bottom: 100px;
    display: inline-flex;
}

.des {
    font-size: 27px;
    font-weight: 600px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 5px;
}

.des-left {
    width: 50%;
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
}

input {
    text-align: center;
    border: 1px solid #6C757D;
}

input[type="number"] {
    -webkit-appearance: textfield !important;
    -moz-appearance: textfield !important;
    appearance: textfield !important;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.wrapper {
    border: 2px #dcd3d3 solid;
    // width: 40vw;
    // height: 50px;
    // padding: 10px;
    display: d-flex;
    border-radius: 10px;
    margin-right: 20px;
    width: 150px;
    height: 40px;
    // background-color: #ffefef;
    // border-radius: 100px;
}

.plusminus {
    border-radius: 10px;
    height: 90%;
    width: 30%;
    background: white;
    border: none;
    font-size: 30px;
    color: #5f5fce;
    line-height: 10px;
}

.num {
    height: 100%;
    width: 39%;
    border: none;
    font-size: 17px;
}

.content-item {
    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;
}

.item-table {
    border-radius: 10px;
}

.scroll-container {
    height: 500px;
    /* Chiều cao tùy chọn */
    overflow-y: auto;
}