<div class="container" style="min-height: 786px;margin-bottom: 50px;">
    <div class="content">
        <div class="d-flex" style="justify-content: space-between;">
            <div class="info-user d-flex shadow p-3 mb-3 bg-body rounded" style="width: 78%;">
                <img src="https://cdn-icons-png.flaticon.com/128/3058/3058953.png" alt="" class="img-user">
                <div class="col-4 time-detail">
                    <p class="col-11">Ngày nhận Sách: {{phieumuonDto.borrowDateReal | date:'dd/MM/yyyy'}} </p>
                    <p class="col-11">Thời hạn trả: {{phieumuonDto.returnDateEstimate | date:'dd/MM/yyyy'}} </p>
                    <p class="col-11">Ngày trả thực tế: {{currentDate}} </p>
                </div>
            </div>
            <div class="text-center shadow p-3 mb-3 bg-body rounded"
                style="justify-content:center;align-items: center;width: 19%">
                <p class="tien-phat" style="margin-top: 40px;">TỔNG TIỀN PHẠT </p>
                <p class="tien-phat">{{displayFine | currencySuffix: 'VND':'':'1.0-0'}} </p>
            </div>
        </div>

        <div class=" info-phieumuon mt-3">
            <div class="shadow p-3 mb-3 bg-body rounded">
                <div style="display: flex;">
                    <div class="form-check" style="width:32%; margin: 0px;">
                        <label class="form-check-label" for="flexCheckDefault"
                            style="font-size: large;font-weight: bold;">
                            Thông tin sản phẩm
                        </label>
                    </div>
                    <p scope="col" style="width: 17%;text-align: center;font-weight: bold" class="content-item">Thể
                        loại
                    </p>
                    <p scope="col" style="width: 17%; text-align: center;font-weight: bold" class="content-item">Nhà
                        xuất
                        bản
                    </p>
                    <p scope="col" style="width: 17%;text-align: center;font-weight: bold" class="content-item">Số
                        trang
                    </p>
                    <p scope="col" style="width: 17%;text-align: center;font-weight: bold" class="content-item">Giá
                        trị
                    </p>
                </div>
                <hr>

                <div *ngFor="let book of listBook; index as i">
                    <div class="item-table d-flex">
                        <div style="display: flex;width: 32%;">
                            <div class="content-con1 d-flex  bd-highlight">

                                <a [routerLink]="['/home/book/', book.bookCode]">
                                    <img [src]="listImg[i]" alt="" class="img-item">
                                </a>
                                <div style="width:300px" class="center-left">
                                    <p style="margin-bottom: 5px;font-weight: 500;">{{ book.title }}</p>
                                    <p type="button" class="info-author" style="margin: 0px;font-size: 15px;">
                                        Tác giả: {{book.author}}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <ng-container *ngIf="book.category === 0">
                            <td style="width: 17%" class="content-item">
                                Sách thường</td>
                        </ng-container>
                        <ng-container *ngIf="book.category === 1">
                            <td style="font-weight: 500; width: 17%;" class="content-item">Sách hiếm*
                            </td>
                        </ng-container>
                        <td class="content-item" style="width: 17%">{{ book.publisher }}</td>
                        <td class="content-item" style="width: 17%">{{ book.pages }}</td>
                        <td class="content-item" style="width: 17%;"> {{ book.price | currencySuffix: 'VND':'':'1.0-0'}}
                        </td>
                    </div>
                    <hr>
                </div>
                <button data-bs-toggle="modal" data-bs-target="#thanhtoan" type="button" class="btn btn-outline-danger"
                    style="margin-left: auto;display: block;width: auto;">Hoàn tất
                    trả
                    sách</button>
            </div>
        </div>
    </div>

    <!-- Modal Xác Nhận -->
    <div class="modal fade" id="thanhtoan" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"
                        style="color: red; font-family: Arial, Helvetica, sans-serif;">Xác nhận !!!</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Xác nhận phiếu này đã trả?
                </div>
                <div class="modal-footer" style="justify-content: center;">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal"
                        style="width: 150px;margin-right: 20px;">Hủy</button>
                    <button (click)="changeStatusToReturnBook()" type="button" class="btn btn-success"
                        data-bs-dismiss="modal" style="width: 150px;">Xác
                        nhận</button>
                </div>
            </div>
        </div>
    </div>

</div>