<div class="container">
    <div class="d-flex" style="margin-top: 20px;margin-bottom: 20px;">
        <div class="col-8">

            <input type="radio" class="btn-check" name="btnradio"
                id="btnradio1" autocomplete="off">
            <label class="btn btn-outline-warning" for="btnradio1">Đang chờ</label>

            <input  type="radio" class="btn-check" name="btnradio"
                id="btnradio2" autocomplete="off">
            <label class="btn btn-outline-primary" for="btnradio2">Đang cho mượn</label>
        </div>
    </div>
    <hr>
</div>
<div class="search">
    <form>
        <input style="width: 300px;" class="form-control me-2" type="search" placeholder="Nhập tên tài khoản"
            name="searchByUsername">
    </form>
    <button type="button" style="border: #ffffff;background-color: #ffffff;">
        <img src="https://cdn-icons-png.flaticon.com/128/10975/10975953.png" alt="" style="width: 38px;height: 38px;">
    </button>
</div>
<div class="table_wrap">
    <div class="table1">
        <div style="display: flex; background-color: antiquewhite" class="shadow-sm p-3 mb-3 bg-body rounded">
            <div class="form-check" style="width: 10%; margin: 0px;">
              <label class="form-check-label" for="flexCheckDefault" style="font-size: large;font-weight: bold;">
                ID
              </label>
            </div>
            <p scope="col" style="width: 60%; text-align: center;font-weight: bold" class="content-item">Tên
            </p>
            <p scope="col" style="width: 30%;text-align: center;font-weight: bold" class="content-item">Thao tác</p>
          </div>
        
          <div id="status0">
            <div>
              <div class="item-table d-flex content shadow p-3 mb-3 bg-body rounded" >
                <div style="display: flex;width: 10%;">
                  <div class="content-con1 d-flex p-2 bd-highlight">
                    <div style="width:200px;margin-top: 20px;">
                      <p class="info">Hello</p>
                    </div>
                  </div>
                </div>
                <td class="content-item" style="width: 60%">Hello</td>
                <div class="content-item" style=" width: 30%;">
                  <div style="text-align: center;">
                    <a  class="book_tooltip">
                      <img src="https://cdn-icons-png.flaticon.com/128/2961/2961324.png"
                      alt="" class="img-send">
                      <span class="tooltiptext">Sửa</span>
                    </a>
                    <a class="book_tooltip">
                      <img src="https://cdn-icons-png.flaticon.com/128/2055/2055849.png" alt="" class="img-send">
                      <span class="tooltiptext">Xem đầu sách</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </div>
    <div class="table2">
        <div style="display: flex; background-color: antiquewhite" class="shadow-sm p-3 mb-3 bg-body rounded">
            <div class="form-check" style="width: 10%; margin: 0px;">
              <label class="form-check-label" for="flexCheckDefault" style="font-size: large;font-weight: bold;">
                ID
              </label>
            </div>
            <p scope="col" style="width: 60%; text-align: center;font-weight: bold" class="content-item">Tên
            </p>
            <p scope="col" style="width: 30%;text-align: center;font-weight: bold" class="content-item">Thao tác</p>
          </div>
        
          <div id="status0">
            <div>
              <div class="item-table d-flex content shadow p-3 mb-3 bg-body rounded" >
                <div style="display: flex;width: 10%;">
                  <div class="content-con1 d-flex p-2 bd-highlight">
                    <div style="width:200px;margin-top: 20px;">
                      <p class="info">Hello</p>
                    </div>
                  </div>
                </div>
                <td class="content-item" style="width: 60%">Khoa học</td>
                <div class="content-item" style=" width: 30%;">
                  <div style="text-align: center;">
                    <a  class="book_tooltip">
                      <img src="https://cdn-icons-png.flaticon.com/128/2961/2961324.png"
                      alt="" class="img-send">
                      <span class="tooltiptext">Sửa</span>
                    </a>
                    <a class="book_tooltip">
                      <img src="https://cdn-icons-png.flaticon.com/128/2055/2055849.png" alt="" class="img-send">
                      <span class="tooltiptext">Xem đầu sách</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </div>
</div>

