<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/commonHeader::head">

</head>
<body class="page-ath" style="font-family: 'Times New Roman' !important;">
<input type="hidden" th:value="${redirect_uri}" id="redirectUri">

<div class="page-ath-wrap d-flex justify-content-center" >
    <div class="page-ath-content shadow p-3 mb-5 bg-body-tertiary rounded " style="height: 450px; margin-top:50px">
        <div class="page-ath-form">
            <h2 class="page-ath-heading">Forgot Password?</h2>

            <div class="form-outline mb-4">
                <input type="text" name="username" id="username" class="form-control" />
                <label class="form-label" for="username">Tên tài khoản</label>
                <span style="color:red" id="err-username-forgot" ></span>
            </div>

            <div class="form-outline mb-4">
                <input type="email" name="email" id="email" class="form-control" />
                <label class="form-label" for="email">Email</label>
                <span style="color:red" id="err-email-forgot" ></span>
            </div>

            <button class="btn btn-primary btn-block" id="actionForgotPassword">Đổi mật khẩu</button>
            <div class="gaps-2x"></div>
            <div class="gaps-2x"></div>
            <div class="form-note">
                Bạn đã có tài khoản? <a th:href="@{/auth/login(redirectUri=${redirect_uri})}"> <strong>Đăng nhập</strong></a>
            </div>
        </div>
    </div>
</div>

<div id="toast-container" class="toast-top-right" style="display: none">
    <div class="toast toast-error" aria-live="assertive">
        <div class="toast-message"><em class="ti ti-na toast-message-icon"></em> <span id="toast-mess"></span></div>
    </div>
</div>

<script th:replace="common/commonJS::script"></script>
<script th:src="@{/js/forgotPassword.js}"></script>
</body>
</html>