<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/commonHeader::head">

</head>
<body class="page-ath" style="font-family: 'Times New Roman' !important;">
<input type="hidden" th:value="${redirect_uri}" id="redirectUri">
<input type="hidden" th:value="${verifyKey}" id="verifyKey">

<div class="container d-flex flex-column">
  <div class="row align-items-center justify-content-center
      min-vh-100 g-0">
    <div class="col-12 col-md-8 col-lg-4 border-top border-3 border-primary">
      <div class="card shadow-sm">
        <div class="card-body">
          <div class="mb-4">
            <h5>Change Password</h5>
            <p class="mb-2">Enter your new password
            </p>
          </div>
           <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input type="password" id="password" class="form-control" name="password">
              <label id="err-passwrod-reset" class="error" style="top: 0px"></label>
              
            </div>
            <div class="mb-3">
              <label for="repeatPassword" class="form-label">Repeat Password</label>
              <input type="password" id="repeatPassword" class="form-control" name="repeatPassword">
              <label id="err-passwordRepeat-reset" class="error" style="top: 0px"></label>
              
            </div>
            <div class="mb-3 d-grid">
              <button type="submit" class="btn btn-primary" id="actionNewPassword">
                Change Password
              </button>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script th:replace="common/commonJS::script"></script>
<script th:src="@{/js/newPassword.js}"></script>
</body>
</html>