.content {
    padding-top: 20px;
}

.info-user {
    justify-content: left;
    align-items: center;
    padding: 20px;
}

.info {
    margin-left: 20px;
}

.info p {
    margin: 5px 0px;
}

.info-author {
    margin-left: 20px;
}

.info-author:hover {
    color: blue;
    font-weight: 500px;
    font-family: Arial, Helvetica, sans-serif;
}


.img-user {
    width: 150px;
    height: 150px;
    border-radius: 20px;
}

.btn {
    width: 200px;
    height: max-content;
}

.menu {
    margin: 20px 0px;
    align-content: center;
}

.form-check {
    margin: 35px 10px 0px 10px;
}

.content-con1 {
    width: 400px;
}

.img-item {
    width: 100px;
    height: 100px;
}

.img-item:hover {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    border-radius: 100px;
}

.item-table {
    border-radius: 10px;
}

.content-item {
    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;
}


.tien-phat {
    color: rgb(255, 0, 0);
    font-weight: bold;
    font-size: 20px;
    margin: 5px;
}